@import 'https://fonts.googleapis.com/css?family=Vesper+Libre|Quattrocento+Sans';

body {
  font-family: 'Quattrocento Sans';
  margin-left: 2em;
  margin-top: 1em;
  background-color: #eee;
  /*display: flex;*/
}

.historical-event {
  font-family: 'Vesper Libre';
}

.map-image {
  width: 500px;
  height: 500px;
}

.leaflet-container a:link,a:visited {
  color: #333;
}

#maps {
  display: flex;
}
