@import 'https://fonts.googleapis.com/css?family=Vesper+Libre';

body {
  font-family: 'Vesper Libre';
  /*display: flex;*/
}

.map-image {
  width: 500px;
  height: 500px;
}

.leaflet-container a:link,a:visited {
  color: #333;
}
